.titleeheader {
    display: flex;
    align-items: center; /* Asegura alineación vertical */
    justify-content: space-between;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
    flex-wrap: wrap;
    width: 100%;
     
}

/* Agrupar subCategory, title y piece correctamente */
.title-group {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    gap:10px; /* Espacio entre ellos */
   padding: 20px;
}

/* Wilaya y Commune en la misma línea */
.title-location {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #666;
    padding:0px 20px;
}

.title-poste .title2 {
    font-weight: bold;
    font-size: 15px;
    color: white;
}
.title-poste .title3 {
     
 
    color: white;
}
/* Asegura que CardHeader esté a la derecha */
.hedercard {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  margin-right: 13px;
}
small{
    
color: rgb(255, 174, 0);
 
    
}
 